main.main {
  min-height: 70vh;
}
.nav {
  height: 25px;
  padding: 20px;
  border-bottom: 1px rgb(70, 69, 69) solid;
  background-color: #00b9b9;
  color: black;
}
.nav ul{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  list-style: none;
  margin: 0;
}
.nav ul li{}
.nav ul li a{
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.footer{
  height: 300px;
background-color: antiquewhite;
padding: 40px 20px;
}
.footer .allPart{
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}
.footer.allPart .part{

}
.footer .allPart .part h2{
  font-size: 22px;
  color: black;
}
.footer .allPart .part ul{
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer  .allPart .part ul li{
  
}
.footer .allPart .part ul li a{
  color:rgb(74, 74, 74);
  font-size: 16px;
}
.Courses{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin: 40px auto 80px;
}
.Courses .oneCourse{
  width: 400px;
  min-width: 300px;
  flex: 1;
  border: 1px rgb(25, 142, 204) solid;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Courses .oneCourse .ImgCourse{
  border-radius: 8px;
  padding: 12px;
}
.Courses .oneCourse .ImgCourse img{
  width: 100%;
  max-height: 300px;
  border-radius: 8px;
  object-fit: contain;
}
.Courses .oneCourse .infoCourse{
  padding: 8px 12px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.Courses .oneCourse .infoCourse h2{
  font-size: 18px;
  color: black;
}
.Courses .oneCourse .infoCourse h3{
  font-size: 14px;
  color: rgb(64, 64, 64);
  font-weight: 300;
}
.Courses .oneCourse .infoCourse .salary{}
.Courses .oneCourse .infoCourse .salary p{
  font-size: 20px;
  font-weight: bold;
}

.btnAdd{
  border: 1px solid rgb(20, 93, 219);
  border-radius: 8px;
  max-width: 200px;
  height: 40px;
  background-color: rgb(20, 93, 219);
  color:white;
  width: 200px;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.btnAdd:hover{
  background-color:white ;
  color: rgb(20, 93, 219);
  border: 1px solid rgb(20, 93, 219);
}
.coursesDetails{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
max-width: 1500px ;
margin: 40px auto 80px;
}
.coursesDetails .part1{
  max-width: 50%;
 min-width: 300px;
 width: 100%;
}
.coursesDetails .part1 img{
  width: 100%;
  max-height: 300px;
  object-fit: contain;
}
.coursesDetails .part2{
  flex: 1;
    min-width: 300px;
}
.coursesDetails .part2 h1{
  font-size: 26px;
}
.coursesDetails .part2 .dec{
  color: #515050;
}
.coursesDetails .part2 .price{}
.coursesDetails .part2 .price p{
  font-size: 22px;
  font-weight: bold;
}
.coursesDetails .part2 .counter{}
.coursesDetails .part2 .counter .count{}
.coursesDetails .part2 .counter .count h3{}
.coursesDetails .part2 .counter .count .btnCount {
  display: flex;
  align-items: center;
  gap: 19px;
  padding: 4px;
  border: 1px #676464 solid;
  width: 110px;
  border-radius: 4px;
  max-height: 24px;
  justify-content: space-between;
}
.coursesDetails .part2 .counter .count .btnCount button{ 
  border: navajowhite;
    background: transparent;
    font-size: 20px;
    font-weight: 200;
}
.coursesDetails .part2 .counter .count .btnCount p{}
.coursesDetails .part2 .counter .btnAdd{
  margin: 16px 0px;
}

